
<div class="page">

	<div class="item">
		<div class="btn-group-vertical btn-block">
			<button
				class="btn btn-lg btn-light"
				[class.active]="view === 'faelle'"
				(click)="changeView('faelle');">
				Fälle
			</button>
			<button
				class="btn btn-sm btn-light"
				[class.active]="view === 'ja'"
				(click)="changeView('ja');">
				Jugendämter
			</button>
			<button
				class="btn btn-sm btn-light"
				[class.active]="view === 'bereiche'"
				(click)="changeView('bereiche');">
				Bereiche
			</button>
			<button
				class="btn btn-sm btn-light"
				[class.active]="view === 'hilfeArten'"
				(click)="changeView('hilfeArten');">
				Hilfe-Arten
			</button>
		</div>
	</div>

	<div class="item">
		<div class="btn-group-vertical btn-block">
			<button
				class="btn btn-lg btn-light"
				[class.active]="view === 'ma'"
				(click)="changeView('ma');">
				Mitarbeiter
			</button>
			<button
				class="btn btn-sm btn-light"
				[class.active]="view === 'maArten'"
				(click)="changeView('maArten');">
				Mitarbeiter-Arten
			</button>
			<button
				class="btn btn-sm btn-light"
				[class.active]="view === 'vertragArten'"
				(click)="changeView('vertragArten');">
				Vertrag-Arten
			</button>
		</div>
	</div>

	<div class="item">
		<div class="btn-group-vertical btn-block">
			<button
				class="btn btn-md btn-light"
				[class.active]="view === 'sprachen'"
				(click)="changeView('sprachen');">
				Sprachen
			</button>
		</div>
	</div>

</div>
